@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Manage.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">旧密码</label>
                    <div class="col-sm-6">
                        <input type="password" data-bind="value:OldPassword, valueUpdate: 'afterkeydown'" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-6">
                        <input type="password" data-bind="value:NewPassword, valueUpdate: 'afterkeydown'" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">确认新密码</label>
                    <div class="col-sm-6">
                        <input type="password" data-bind="value:NewPassword2, valueUpdate: 'afterkeydown'" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="btn btn-primary " data-bind="click:changePwd,css:{disabled:!enableChange()}">修改</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.OldPassword = ko.observable();
            self.NewPassword = ko.observable();
            self.NewPassword2 = ko.observable();
            self.urls = {
                DoChangePassword: '@Url.Action("DoChangePassword")'
            }
            self.changePwd = function() {
                bnApp.showLoading();
                $.ajax({
                    url: self.urls.DoChangePassword,
                    type: "post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ passwordVm: { OldPassword: self.OldPassword(), NewPassword: self.NewPassword() } }),
                    success: function(result) {
                        bnApp.hideLoading();
                        if (result) {
                            bnApp.showMessage("修改密码成功");

                        } else {
                            bnApp.showError("修改密码失败");
                        }
                    },
                    error:function() {
                        bnApp.showError("修改密码失败");
                    }
                });
            }
            self.enableChange = ko.computed(function() {
                return self.OldPassword() != undefined
                    && self.OldPassword() != ''
                    && self.NewPassword() != undefined
                    && self.NewPassword() != ''
                    && self.NewPassword2() != undefined
                    && self.NewPassword2() != ''
                    && self.NewPassword() == self.NewPassword2();

            });
        }

        ko.applyBindings(new ViewModel());
    </script>
}

