
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Manage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div> xxxxxxxxxxxxx
    </div>
</body>
</html>
